// auth page
.first {
  &--dark {
    background-color: $main-bg-dark;
    }

  &__window--dark {
    background-color: $secondary-bg-dark;
    &-account {
      &-login {
        &--dark {
        color: $white;
        margin-top: 63px;
      }
      &-password--dark {
        color: $white;
        margin-top: 32px;
      }
    }
  }
  .registration-title--dark {
    color: $white;
  }
}
}

// person page
.two {
  &__navigation {
    &_language--dark {
      background: $secondary-bg-dark;
      color: $white;
    }

    &_theme--dark {
      background: $secondary-bg-dark;
      color: $white;
      font-size: 16px;
    }

    &-exit--dark {
      background: url('../assets/img/exit-dark.svg');
      }
  }

  &__database {
    &-container {
      &-title {
        &--dark {
          color: $white;
        }
      }

      &-dropdown--dark {
        background: $secondary-bg-dark;
        color: $white;
      }

      &-client {
        &--dark {
          background: $secondary-bg-dark;
          border: 1px solid $gray;
        }
      }
    }

    &-search {
      &-page--dark {
        background: $secondary-bg-dark;
      }
      .input__find--dark {
        background: $secondary-bg-dark;
        padding-left: 36px;
        color: $white;

        &::placeholder {
          color: $white;
        }
      }
    }
  }
}
