// auth page
.first--dark {
  background-color: $main-bg-dark;
  &_window--dark {
    background-color: $secondary-bg-dark;
    &_account {
      &_login--dark {
        color: $white;
        margin-top: 63px;
      }
      &_password--dark {
        color: $white;
        margin-top: 32px;
      }
    }
  }
  .registration_title--dark {
    color: $white;
  }
}

// person page
.two {
  &--dark {
    background-color: rgba(0, 0, 0, 0.85);
  }
  &_navigation {
    &_language--dark {
      background: $secondary-bg-dark;
      color: $white;
    }

    &_theme--dark {
      background: $secondary-bg-dark;
      color: $white;
      font-size: 16px;
    }
  }

  &_datebase {
    &_container {
      &-title {
        &--dark {
          color: $white;
        }
      }

      &_dropdown--dark {
        background: $secondary-bg-dark;
        color: $white;
      }

      &_client {
        &--dark {
          background: $secondary-bg-dark;
          border: 1px solid $gray;
        }
        // &_text--dark {
        //   color: $white;
        // }
      }
    }

    &_search {
      .input_find--dark {
        background: rebeccapurple;
        padding-left: 36px;
        font-size: 16px;
        color: $white;
      }
      // .page_list--dark {
      //   list-style: url("../assets/img/person_dark/sort-down.svg");
      // }
    }
  }
}
