.two {
  &--dark {
    background-color: rgba(0, 0, 0, 0.85);
  }
  &_navigation {
    &_language--dark {
      background: $secondary-bg-dark;
      color: $white;
      padding-left: 22px;
    }

    &_theme--dark {
      background: $secondary-bg-dark;
      color: $white;
      font-size: 16px;
    }
  }

  &_datebase {
    &_container {
      &--dark p {
        color: $white;
      }
      &_dropdown--dark {
        background: $secondary-bg-dark;
        color: $white;
      }

      &_client {
        &--dark {
          background: $secondary-bg-dark;
          border: 1px solid $gray;
        }
        &_text--dark {
          color: $white;
        }
      }
    }

    &_search {
      .input_find--dark {
        background: $secondary-bg-dark;
        padding-left: 36px;
        font-size: 16px;
        color: $white;
      }
      .page_list--dark {
        list-style: url("../assets/img/person_dark/sort-down.svg");
      }
    }
  }
}
