.error {
  text-align: center;
  width: 300px;
  margin-top: 16px;
  color: red;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s opacity, 0.4s visibility;
  &-visible {
    opacity: 1;
    visibility: visible;
    transition: 0.55s opacity, 0.55s visibility;
  }
}

.error-person{
  text-align: center;
  margin-top: 16px;
  font-size: 10px;
  color: red;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s opacity, 0.4s visibility;
  &-visible {
    opacity: 1!important;
    visibility: visible!important;
    transition: 0.55s opacity, 0.55s visibility;
  }
}

.changed-main-bg {
  background: $main-bg-light !important;
}
.changed-secondary-bg {
  background: $secondary-bg-dark !important;
}
