.container {
  margin: 0 auto;
  width: 1170px;
}

.two {
  height: 100%;
  background-color: $main-bg-light;
  &_navigation {
    display: flex;
    &_logo {
      .logo_img {
        width: 125px;
        height: 89px;
        margin-top: 4px;
      }
    }
    &_language {
      width: 90px;
      height: 35px;
      margin-left: auto;
      margin-top: 44px;
      background: $secondary-bg-light;
      border: 1px solid $gray;
      box-sizing: border-box;
      border-radius: 7px;
      font-size: 18px;
      line-height: 22px;
      color: $secondary-bg-dark;
      padding-left: 28px;
    }
    &_theme {
      width: 90px;
      height: 35px;
      margin-left: 25px;
      margin-top: 44px;
      background: $secondary-bg-light;
      border: 1px solid $gray;
      box-sizing: border-box;
      border-radius: 7px;
      font-size: 18px;
      line-height: 22px;
      color: $secondary-bg-dark;
      font-size: 16px;
    }
    &_setting {
      width: 52px;
      height: 50px;
      margin-left: 22px;
      margin-top: 42px;
    }
    &_exit {
      width: 43px;
      height: 45px;
      margin-left: 22px;
      margin-top: 46px;
    }
  }
  &_line {
    position: absolute;
    width: 1170px;
    height: 2px;
    background: $gray;
    transform: matrix(1, 0, 0, -1, 0, 0);
  }
  &_datebase {
    display: flex;
    margin-top: 24px;
    padding-bottom: 35px;
    &_container {
      &-title {
        margin-top: 24px;
        margin-left: 11px;
        color: $secondary-bg-dark;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
      }
      &_dropdown {
        margin-top: 2px;
        width: 180px;
        height: 40px;
        background: $secondary-bg-light;
        border: 1px solid $gray;
        box-sizing: border-box;
        border-radius: 5px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $secondary-bg-dark;
        padding-left: 29px;
      }
      &_client {
        width: 180px;
        height: 375px;
        background: $secondary-bg-light;
        border: 1px solid $gray;
        box-sizing: border-box;
        border-radius: 7px;
        margin-top: 145px;
        &_input {
          width: 156px;
          height: 24px;
          background: $fields-bg;
          border: 1px solid $gray;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 7px;
          margin-left: 12px;
          margin-top: 11px;
          font-style: italic;
          font-weight: 400;
          font-size: 17px;
          line-height: 20px;
          text-align: center;
          color: $secondary-bg-dark;
        }
        &_text {
          font-weight: 400;
          font-size: 10px;
          line-height: 12px;
          text-align: center;
          color: $secondary-bg-dark;
          margin-top: 13px;
        }
        &-btn {
          background: rgb(255, 255, 255);
          background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(224, 244, 247, 1) 0%,
            rgba(43, 218, 186, 1) 40%,
            rgba(52, 121, 215, 1) 100%
          );
          margin-top: 11px;
          margin-left: 40px;
          width: 100px;
          height: 35px;
          border: 2px solid $gray;
          font-weight: 700;
          box-sizing: border-box;
          border-radius: 7px;
          cursor: pointer;
        }
      }
    }
    &_search {
      .input_find {
        width: 200px;
        height: 40px;
        background: $secondary-bg-light;
        border: 1px solid $gray;
        box-sizing: border-box;
        border-radius: 5px;
        margin-top: 50px;
        margin-left: 21px;
        padding-left: 50px;
        font-style: italic;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: $secondary-bg-dark;
        &_img-fname {
          position: absolute;
          width: 26px;
          height: 26px;
          margin-top: 57px;
          margin-left: 25px;
        }
        &_img-iname {
          position: absolute;
          width: 26px;
          height: 26px;
          margin-top: 57px;
          margin-left: 25px;
        }
      }
      &_page {
        margin-top: 18px;
        margin-left: 21px;
        width: 963px;
        height: 100%;
        background: $secondary-bg-light;
        box-shadow: 0px 5px 20px rgba(80, 80, 80, 0.1);
        border-radius: 7px;
        padding-top: 18px;
        &_container {
          margin: 0 auto;
          margin-top: 8px;
          width: 931px;
          height: 100%;
          box-sizing: border-box;
        }
      }
      .page_list {
        list-style: url("../assets/img/person_light/sort-down.svg");
        color: $secondary-bg-dark;
        font-size: 18px;
        display: flex;
        justify-content: space-around;
        margin-top: 5px;
        margin-left: 25px;
        cursor: pointer;
      }
    }
  }
}

.table {
  &__row {
    border: 1px solid black;
    display: flex;
    margin-bottom: $row-margin;
    border-radius: 4px;
    font-size: 14px;
    background: $fields-bg;
    overflow-wrap: break-word;

    &:first-child {
      div {
        font-size: 18px;
        cursor: pointer;
        text-align: left;
        display: grid;
        grid-template-columns: 1fr 10fr;
        span {
          display: inline-block;
          text-align: center;
          font-style: italic;
          justify-self: center;
        }
      }
    }
    &:last-child {
      div:before {
        content: "";
        border: none;
      }
    }
    &-item {
      position: relative;
      margin: 0;
      padding: 0 5px;
      height: 34px;
      text-align: center;
      line-height: 2;
      font-size: 1rem;
      border-right: 1px solid black;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &::before {
        content: "";
        top: -10px;
        left: -1px;
        height: ($row-margin + $row-padding) * 4;
        border-right: 1px solid black;
        position: absolute;
      }
      &:first-child {
        &::before {
          content: "";
          border-right: 1px solid black;
        }
      }

      &:last-child {
        border: 0;
      }
    }
  }

  &__item {
    height: 43px;
    padding: 10px;
    color: $secondary-bg-dark;
    background: $fields-bg;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.col-sm {
  width: 70px;
}

.col-md {
  width: 130px;
}

.col-lg {
  width: 156px;
}

// .col--first {
//   border-radius: 7px 0 0 7px;
//   border-top: 1px solid $secondary-bg-dark;
//   border-left: 1px solid $secondary-bg-dark;
//   border-bottom: 1px solid $secondary-bg-dark;
// }

// .col--last {
//   border-radius: 0 7px 7px 0;
//   border-top: 1px solid $secondary-bg-dark;
//   border-right: 1px solid $secondary-bg-dark;
//   border-bottom: 1px solid $secondary-bg-dark;
// }

// .col {
//   border-top: 1px solid $secondary-bg-dark;
//   border-bottom: 1px solid $secondary-bg-dark;
// }
