*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  --bg-default: #e5e5e5;
  --color-text: #484b54;
  --bg: #f8f8f8;
  --background: url("../assets/img/exit-light.svg");
  --color-text: #484b54;
}

html[data-theme='dark'] {
  --bg-default: rgba(0, 0, 0, 0.85);
  --color-text: #fff;
  --bg: #484b54;
  --background: url("../assets/img/exit-dark.svg");
  --color-text: #fff;
}

html {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll !important;
  -webkit-tap-highlight-color: transparent;
  text-decoration-skip: objects;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  background-color: var(--bg-default);
}

.body--dark {
    background-color: rgba(0, 0, 0, 0.85);
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

button,
select {
  font-family: "Lato", sans-serif;
  cursor: pointer;
}
