$main-bg-light:#f8f8f8;
$secondary-bg-light: #fff;

$main-bg-dark: rgba(0, 0, 0, 0.85);
$secondary-bg-dark: #484b54;

$fields-bg: #e5e5e5;

$gray: #c4c4c4;
$dark-gray: #4c4c4c;
$white: #fff;
$black: #000;